/* @import url('./assets/fonts/sofia-pro-regular.otf');
@import url('./assets/fonts/sofia-pro-semi-bold.otf'); */

@font-face {
  font-family: 'Sofia Pro Regular';
  src: local('Sofia Pro Regular'), local('Sofia Pro Regular'),
    url('./assets/fonts/sofia-pro-regular.otf') format('.otf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sofia Pro Medium';
  src: local('Sofia Pro Media'), local('Sofia Pro Medium'),
    url('./assets/fonts/sofia-pro-semi-bold.otf') format('.otf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html,
body,
div,
input,
button,
select,
option,
h1,
h2,
h3,
h4,
h5,
h6,
p,
text {
  font-family: 'Roboto';
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  background-color: #1a1a1a;

  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  display: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background: var(--color-background);
  scroll-behavior: smooth;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

[tabindex] {
  outline: none !important;
}

body {
  /* font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  box-sizing: border-box; */
}

#svg-infographics-background-1,
#svg-infographics-background-2,
#svg-infographics-background-3,
#svg-infographics-background-4 {
  -webkit-filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.1));
  width: '100%';
}
