*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  box-sizing: border-box;
  background-color: #1a1a1a;
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

li,
a {
  text-decoration: none;
}

#svg-infographics-background-1,
#svg-infographics-background-2,
#svg-infographics-background-3,
#svg-infographics-background-4 {
  -webkit-filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.1));
  width: '100%';
}
